.group {
	flex-direction: column;
	padding: 24px 16px !important;
	margin-top: 8px;
	display: flex;
	gap: 8px;
}

.inputWrapper {
	flex: 1;
}

.textArea {
	max-height: 40vh;
}

.button {
	flex: 0;
	align-self: flex-start;
	align-self: flex-end !important;
}
.button span {
	text-overflow: clip;
}

.errorMessage {
	color: rgba(255, 0, 0, 0.75);
	font-style: italic;
}
