.form {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.errorMessage {
	color: rgba(255, 0, 0, 0.75);
}

.inputWrapper {
	flex: 1;
}

.inputValidationError {
	outline: 2px solid red;
}

.bottomRow {
	display: flex;
	justify-content: space-between;
}

.result {
	align-self: flex-start
}

.spinner {
	justify-content: flex-start
}
